html, body {
    margin: 0;
    padding: 0;
    /*background-image: url("Assets/paper.jpg");  git hub link*/
    background-image: url("assets/paper.jpg");
    background-image: cover;
    background-image: fixed;
} 

h1 {
  font-family: 'Train One', cursive;
  color: blue;
  font-size: 50px;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    color: blue;
    font-weight: 600;
    font-size: 50px;
    text-align: center;
    margin-top: 100px;
    letter-spacing: 2px;
}

h4 {
    font-family: 'Montserrat', sans-serif;
    color: blue;
    font-size: 30px;
    text-align: center;
    letter-spacing: 4px;
}

p {
    font-family: 'Montserrat', sans-serif;
    color: blue;
    font-size: 25px;
    font-weight: 800;
}

.navbar-brand {
  font-family: 'Train One', cursive;
  font-size: 2em;
}

.nav-link {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5em;
  font-weight: 800;
}

                        /*            MAIN IMAGE    */
.container {
  margin-top: 25px;
  position: relative;
  width: 50%;
  border: 1px solid blue;
  padding: 15px;
  border-radius: 5px;
  background-color: rgb(136, 156, 169,.2);
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  font-family: 'Montserrat', sans-serif;
  color: black;
  text-align: center;
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  font-family: 'Montserrat', sans-serif;
  background-color: rgb(211, 211, 211);
  color: black;
  font-size: 20px;
  padding: 16px 32px;
  border-radius: 8px;
}


                        /*      HOME ABOUT SECTION   */
.aboutContainer {
    flex-direction: row;
    margin-top: 300px;
}

.image2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    width: 35%;
}

.aboutContainer {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(136, 156, 169,.3);
    border: 1px solid blue;
    border-radius: 10px;
}

.avatar {
    margin: 30px;
    border: 1px solid blue;
    border-radius: 50%;
    background-color: rgb(242, 242, 218,.2);
}

.introText {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 800;
    color: black;
    background-color: rgb(242, 242, 218,.2);
    border: 1px solid blue;
    padding: 10px;
    margin: 30px;
    text-align: justify;
    border-radius: 10px;
  }

                        /*      PROJECTS SECTION     */

.projectsContainer {
    width: 80%;
    margin: auto;
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    background-color: rgb(136, 156, 169,.2);
    border: 1px solid blue;
    border-radius: 10px;
}

.projects {
    width: 250px;
    height: 250px;
    margin: 25px;
    cursor: pointer;
    border: 1px solid blue;
    border-radius: 50%;
    background-color: rgb(242, 242, 218,.2);
    padding: 30px;
}

.projects:hover {
      border: 5px solid red;
}

            /*          SKILLS SECTION      */

.skillsContainer {
    width: 80%;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    background-color: rgb(136, 156, 169,.2);
    border: 1px solid blue;
    border-radius: 10px;
}

.skills {
    margin: 30px;
    margin-bottom: 30px;
    
}

  /*      ABOUT PAGE    */

h1 {
    font-family: 'Montserrat', sans-serif;
    color: blue;
}

.aboutMain {
    width: 50%;
    height: auto;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}

#about-Header {
    font-family: 'Kiwi Maru', serif;
    color: blue;
    font-size: 40px;
    text-align: center;
    margin-top: 10px;
}

#text {
    display: inline-block;
    font-family: 'Kiwi Maru', serif;
    color: blue;
    width: 90%;
    font-size: 20px;
    margin: 20px 5%;
    border: 1px solid blue;
    padding: 10px;
}

.footer {
    position: relative;
    height: 50px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(80, 79, 82, .2);
    font-family: 'Montserrat', sans-serif;
    color: blue;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    border: none;
    outline: none;
}
  
#gallery {
    margin: 15px;
   
}
#tspLink {
    font-family: 'Montserrat', sans-serif;
    color: blue;
    font-size: xx-large;
    font-weight: 800;
    border: 1px solid blue;
    background-color: transparent;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    width: 50%;
    border-radius: 10px;  
}

#tspLink:hover {
    font-family: 'Train One', cursive;
    color: blue;
    font-size: xx-large;
    border: 3px solid blue;
    background-color: rgb(153, 153, 242,.2);
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    width: 50%;
    border-radius: 10px;
}

#contact-form {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    width: 50%;
}

.contactRow {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 800;
}

.projectsGrid{
    margin-top: 25px;
    margin-left:auto;
    margin-right:auto;
    position: relative;
    width: 80%;
    border: 1px solid blue;
    padding: 15px;
    border-radius: 5px;
    background-color: rgb(136, 156, 169,.2);
}

.project_icons {
      width: 250px;
      height: 250px;
      cursor: pointer;
      border: 1px solid blue;
      border-radius: 50%;
      background-color: rgb(242, 242, 218,.2);
      padding: 30px; 
}
  
.project_icons:hover {
        border: 5px solid red;
}

#resume {
    font-family: 'Montserrat', sans-serif;
    color: blue;
    font-size: xx-large;
    font-weight: 800;
    text-decoration: none;
    border: 1px solid blue;
    background-color: transparent;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    width: 50%;
    border-radius: 10px;
}

#resume:hover {
    font-family: 'Train One', cursive;
    color: blue;
    font-size: xx-large;
    text-decoration: none;
    border: 3px solid blue;
    background-color: rgb(153, 153, 242,.2);
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    width: 50%;
    border-radius: 10px;
}
