html, body {
    margin: 0;
    padding: 0;
    /*background-image: url("Assets/paper.jpg");  git hub link*/
    background-image: url("assets/paper.jpg");
    background-image: cover;
    background-image: fixed;
} 

h2 {
    font-family: 'Montserrat', sans-serif;
    color: blue;
    font-weight: 600;
    font-size: 50px;
    text-align: center;
    margin-top: 100px;
    letter-spacing: 2px;
}
h4 {
    font-family: 'Montserrat', sans-serif;
    color: blue;
    font-size: 30px;
    text-align: center;
    letter-spacing: 4px;
}

.navContainer {
    font-family: 'Montserrat', sans-serif;
}

/* Add a background color to the top navigation */
.nav {
    background-color: rgb(173, 170, 170,.3);
    overflow: hidden;
    width: 100%;
      }
  
  /* Style the links inside the navigation bar */
.nav a {
    margin: 0 auto;
    color: black;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding: 25px 70px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
.nav a:hover {
    background-color: #ddd;
    color: black;
    font-size: 20px
  }
  
  /* Add a color to the active/current link */
.nav a.active {
    background-color: rgb(27, 27, 247,.4);
    color: white;
  }



                        /*            MAIN IMAGE    */
.container {
  position: relative;
  width: 50%;
  border: 1px solid blue;
  padding: 15px;
  border-radius: 5px;
  background-color: rgb(136, 156, 169,.2);

}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}


.text {
    background-color: rgb(227, 227, 227);
    font-family: 'Montserrat', sans-serif;
    color: black;
    font-size: 18px;
    padding: 16px 50px;
    text-align: center;
    border: 1px solid black; 
    border-radius: 10px;
  }


                        /*      ABOUT SECTION   */
.aboutContainer {
    flex-direction: row;
    margin-top: 300px;

  }

.image2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    width: 35%;
  }

  .aboutContainer {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(136, 156, 169,.3);
    border: 1px solid blue;
    border-radius: 10px;
  }
  .avatar {
    margin: 30px;
    border: 1px solid blue;
    border-radius: 50%;
    background-color: rgb(242, 242, 218,.2);
  }

  .aboutText {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 800;
    color: black;
    background-color: rgb(242, 242, 218,.2);
    border: 1px solid blue;
    padding: 10px;
    margin: 30px;
    text-align: justify;
    border-radius: 10px;
  }

                        /*      PROJECTS SECTION     */

  .projectsContainer {
    width: 80%;
    margin: auto;
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    background-color: rgb(136, 156, 169,.2);
    border: 1px solid blue;
    border-radius: 10px;
  }

  .projects {
    width: 250px;
    height: 250px;
    margin: 25px;
    cursor: pointer;
    border: 1px solid blue;
    border-radius: 50%;
    background-color: rgb(242, 242, 218,.2);
    padding: 30px;
  }

  .projects:hover {
    border: 5px solid red;
  }

/*   
  .project2 {
    width: 250px;
    height: 250px;
    cursor: pointer;
    border: 1px solid blue;
    border-radius: 50%;
    background-color: rgb(242, 242, 218,.2);
    padding: 20px;
  }

  .project3 {
    width: 250px;
    height: 250px;
    cursor: pointer;
    border: 1px solid blue;
    border-radius: 50%;
    background-color: rgb(242, 242, 218,.2);
    padding: 20px;
}

.project4 {
  width: 250px;
  height: 250px;
  cursor: pointer;
  border: 1px solid blue;
  border-radius: 50%;
  background-color: rgb(242, 242, 218,.2);
  padding: 20px;
} */
            /*          SKILLS SECTION      */

  .skillsContainer {
    width: 80%;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    background-color: rgb(136, 156, 169,.2);
    border: 1px solid blue;
    border-radius: 10px;
  }

  .skills {
    margin: 30px;
    margin-bottom: 30px;
    
  }
